:root {
    /*Fonts*/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;


   /* Text colors */
    --main-txt-cl: #212121;
    --light-txt-cl: #FFFFFF;
    
    /*Background colors*/
    --basic-blue: #2196F3;
    --contacts-cl:  #757575;
    --secondary-cl: #2F303A;
    --icon-social-cl:#AFB1B8;

    /*Others*/
    --transition-time: 250ms;
    --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--main-txt-cl);
    letter-spacing: 0.03em;

}
.link {
    text-decoration: none;
    color: currentColor;
    transition: color var(--transition-time) var(--transition-cubic);
}
.list {
    list-style: none;
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*header*/
.header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #ececec;
    
}
.header-container,
.main-nav {
  display: flex; 
  align-items: center; 
}
.header-logo {
    margin-right: 93px;
}
.main-nav {
    margin-right: 318px;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.contacts-list-icon {
margin-right: 10px;
}


.header-link,
.contacts-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.02em;
}

.header-link.active {
color: var(--basic-blue);
}

.header .link:hover, 
.header .link:focus {
    color:var(--basic-blue);
}
.contacts-link {
    color: var(--contacts-cl);
}
    
.contacts-list-icon {
    fill: currentColor;
}

.header-logo,
.footer-logo {
    font-family:var(--secondary-font);
    color: var(--basic-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header-logo-text {
    color: #000000;
}
.footer-logo-text {
    color: var(--light-txt-cl);
}
.header-link {
    position: relative;
}
.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--basic-blue);
    border-radius: 2px;
}


/*main*/
.main {
    padding: 200px 0;
    background-color: var(--secondary-cl);
    text-align: center;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
 }

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-cl);

    margin: 0 0 30px 0;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height:calc(30/16);
    padding: 10px 32px 10px 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color: var(--basic-blue);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.advantage-icon-fon {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.advantage-list {
    display: flex;
    gap: 30px;
}
.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);

    margin-bottom: 10px;
}
.advantage-text {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--contacts-cl);
    
}

/* Gallery */

.section-gallery{
    padding-top: 0;
}

.gallery-title,
.team,
.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}
.section-team {
    background-color: #F5F4FA;
}
.gallery-tumb {
    position: relative;
}
.gallery-tumb-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--light-txt-cl);
    
}

/* Team */

.gallery-list,
.team-list {
    display: flex;
    gap: 30px;
}
.team-item {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;
}
.team-info {
    background-color: var(--light-txt-cl);
    padding: 30px 0;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contacts-cl); 
    margin-bottom: 16px;
}
/* regular customers */
.customers-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-social-cl);
    border-radius: 4px;
    color: var(--icon-social-cl);
    cursor: pointer;
    transition: border-color var(--transition-time) var(--transition-cubic), color var(--transition-time) var(--transition-cubic);
}
.customers-link:hover,
.customers-link:focus {
    color: var(--basic-blue);
    border-color: var(--basic-blue);
}
.customers-icon {
    fill: currentColor;
}
/*Social*/
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-social-cl);
    cursor: pointer;
    transition: background-color var(--transition-time) var(--transition-cubic), color var(--transition-time) var(--transition-cubic);
}
.team-list-link:hover,
.team-list-link:focus {
    color: var(--light-txt-cl);
    background-color: var(--basic-blue);
}
.social-icon {
    fill: currentColor;
}


/*footer*/
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-info{
    margin-right: 70px;
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
}
.footer-address-item,
.footer-contacts-item {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-address {
    font-style: normal;
}

.footer-address-item {
    color: var(--light-txt-cl);
    margin-bottom: 9px;
}

.footer {
    background-color: var(--secondary-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    display: flex;
    color: var(--light-txt-cl);
    margin-bottom: 20px;
}
.footer-join-social {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--light-txt-cl);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-time) var(--transition-cubic),  color var(--transition-time) var(--transition-cubic);
}
.footer-list-link:hover,
.footer-list-link:focus {
    color: var(--light-txt-cl);
    background-color: var(--basic-blue);

}
.footer-icon {
    fill: currentColor;
}

/*Portfolio*/

.portf-buttons-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portf-button-item {
    background: #F5F4FA;
    border-radius: 4px;
    
}

.portf-button-item:not(:last-child) {
    margin-right: 8px;
}
.portf-button-text:hover,
.portf-button-text:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portf-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    transition: box-shadow var(--transition-time) var(--transition-cubic), background-color var(--transition-time) var(--transition-cubic), color var(--transition-time) var(--transition-cubic);
}
.portf-button-text:hover{
    background-color: var(--basic-blue);
    color: var(--light-txt-cl);
    cursor: pointer;
}
.portf-button-text:focus{
    background-color: var(--basic-blue);
    color: var(--light-txt-cl);
}

.main-list { 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 
}
.main-link {
    display: block;
    transition: box-shadow var(--transition-cubic) var(--transition-time);
}
.main-link:hover,
.main-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.main-tumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--transition-time) var(--transition-cubic);
}
.main-link:hover .overlay,
.main-link:focus .overlay {
    transform: translateY(0);
}
.overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: var(--light-txt-cl);
}


.main-list-info {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.main-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
   
}
.main-text {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--contacts-cl);
}

/* Modal windiw */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    transition: opacity var(--transition-time) var(--transition-cubic), visibility var(--transition-time) var(--transition-cubic);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    
    background-color: var(--light-txt-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: var(--light-txt-cl);
}

